/* HTML5 Boilerplate */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, hr { margin: 0; padding: 0; border: none; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ul, ol, dl { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border-top: 1px solid #ccc; }
input, select { vertical-align: middle; }
select, input, textarea, button { font: 99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
button { width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body {
    font: 15px/1.2 'Hattori Hanzo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}

header {
    background: #404040;
    margin-bottom: 29px;
    padding: 13px 0 16px 29px;
    border-bottom: 1px solid #CFCFCF;
}

header img { display: block; }

footer {
    border-top: dotted 2px #BCBCBC;
    margin: 29px;
    padding-top: 13px;
}

footer #contact {
    float: right;
    font-size: 13px;
    padding-top: 6px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Museo Slab', Times, 'Times New Roman', serif;
    font-weight: bold;
    color: #333;
}

h1 { font-size: 24px; margin-bottom: 12px; }
h2 { font-size: 18px; margin-bottom: 8px; }
h3 { font-size: 16px; margin-bottom: 6px; }
h4 { font-size: 14px; margin-bottom: 4px; }

ul { list-style: disc outside; margin: 0 2em 1em; }
ol { list-style: decimal outside; margin: 0 2em 1em; }

p { margin-bottom: 1em; }

article { margin: 0 0 0 29px; max-width: 564px; }